/* CSS Adrian */

/* Desktop Styles */

table {
  border-collapse: collapse;
  width: 1170px;
  margin-top: 15px;
}

tr {
  text-align: left;
}

td {
  text-align: left;
  height: 30px;
  padding: 5px;
}

thead {
  border-bottom: 2px solid #cccccc;
}

tr:nth-child(even) {background-color: #d8d8d8;}

.arrow {
  color: #70b544;
}

.displayTable {
  margin-top: 15px;
}

.toggle {
  text-decoration: underline;
  color: #d8d8d8;
}

/* @media only screen and (min-width: 1200px) {
    
  }
  
  /* Tablet Styles 
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    
  }
  
  /* Mobile Styles 
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    
  } */