/* CSS Adrian */
/* Mobile Styles */  
table {
    border-collapse: collapse;
    width: auto;
    margin-top: 15px;
    table-layout: fixed;
}

title, description, author, keywords {
  display: none;
}
  
tr {
    text-align: left;
}
  
td {
    text-align: left;
    height: auto;
    padding: 10px 15px 10px 0px;
}
  
.tableWidth > thead > tr > th,
.tableWidth > tbody > tr > td {
    width: calc(100%/8);
}
  
.tableWidth > thead > tr > th:first-child,
.tableWidth > tbody > tr > td:first-child {
  width: 1%;
  white-space: nowrap;
}
  
thead {
  border-bottom: 2px solid #cccccc;
}
  
tr:nth-child(even) {
  background-color: #d8d8d8;
}
  
.arrow {
    color: #70b544;
}

.arrow:hover {
  color: #4a8321;
}
  
.displayTable {
    margin-top: 15px;
}
  
.toggle {
    text-decoration: underline;
    color: #d8d8d8;
  
}
  
.toggle:hover {
    text-decoration: unset;
}
  
.toggleHead {
    color: #a9aeb5;
}
  
.hideColumn {
    display: show;
}

.disabled {
  display: hide;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .tableWidth > thead > tr > th,
  .tableWidth > tbody > tr > td {
    width: calc(100%/8);
  }

  table {
    border-collapse: collapse;
    width: auto;
    margin-top: 15px;
  }
  
  tr {
      text-align: left;
  }
  
  td {
      text-align: left;
      height: auto;
      padding: 10px 15px 10px 0px;
  }
}
  
/* Desktop Styles */
@media only screen and (min-width: 1200px) {
  .tableWidth > thead > tr > th,
  .tableWidth > tbody > tr > td {
    width: calc(100%/8);
  }

  table {
    border-collapse: collapse;
    width: auto;
    margin-top: 15px;
    table-layout: fixed;
  }
  
  tr {
      text-align: left;
  }
  
  td {
      text-align: left;
      height: auto;
      padding: 10px 15px 10px 0px;
  }
}