/* Mobile */
    div { -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden; 
        -ms-backface-visibility: hidden; 
        backface-visibility: hidden; 
    }

    title, description, author, keywords {
        display: none;
    }

    html, body {
        height: 100%;
        width: auto;
        font-family: 'Roboto', sans-serif !important;
        font-size: 14px;
        line-height: 145%;
        font-style: normal;
        margin: 0 auto;
    }
    h1 {
        font-size: 35px;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container {
        width: 100% !important;
        margin: 0 auto;
    }

    .navWrapper {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        background-image: linear-gradient(to top, #efefef 0%, #d1d1d1 60%);
        background-repeat: no-repeat;
        height: auto;
        background-size: 100% 80px;
        
    }

    nav {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .navList li{
        padding: 10px;
        height: auto;
        color: #575756;
        display: block;
    }

    .mobileNav {
        background-image: url("../img/header.png");
        background-repeat: no-repeat;
        height: 80px;
        border-bottom: 1px solid #dbdbdb;
    }

    #mobileNav {
        padding-top: 10px;
        padding-right: 10px;
        float: right;
    }

    .navImg {
        display: none !important;
    }

    .footer {
        bottom: 0;
        width: auto;
        border-top: 1px solid #7da06a;
        font-size: 12px;
        margin-top: 50px;
        padding: 2%;
        display: flex;
    }
    
    .footerLeft {
        float: left;
        text-align: left;
        width: 50%;
    }
    
    .footerRight {
        float: right;
        text-align: right;
        width: 50%;
    }

@media only screen and (max-width: 768px) {
        .navList li:hover{
            background-color: #cccccc;
            color: black;
        }
    }    
  /* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 100% !important;
        margin: 0 auto;
    }
  }
  /* Desktop Styles */
  @media only screen and (min-width: 1200px) {
    .container {
        width: 1170px !important;
        margin: 0 auto;
    }

    #mobileNav {
        display: none;
    }
    
    .mobileNav {
        display: none;
    }

    .navWrapper {
        border-bottom: 1px solid #dbdbdb;
    }

    nav {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 80px;
        max-width: 1170px;
    }

    .navImg {
        display: inline-block !important;
        background-image: url("../img/header.png");
        background-position: 0px 0px;
        background-repeat: no-repeat;
        z-index: 0;
        height: 80px;
        width: 150px;
        padding: 0px !important;
        min-width: auto;
    }

    nav ul {
        margin: 0 auto;
        width: 100%;
        padding: 0 !important;
        display: flex;
    }

    .navList li {
        list-style-type: none;
        width: auto;
        text-align: center;
        padding: 30px 10px 30px 10px;
        display: inline-block;
        color: black;
    }

    .navList li:not(:first-child):hover {
        background-image: linear-gradient(to top, #d6d6d6 0%, #d1d1d1 60%) !important;
    }

    .navList li:nth-child(even) {
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
    }

    .navList li:last-child {
        border-right: 1px solid #dbdbdb;
    }

    .navImg:hover {
        background-position: 0px -80px;
    }

    .navList li:first-child {
        padding-right: 50px !important;
        height: 80px;
        display: inline-block;
    }

    .footer {
        bottom: 0;
        width: auto;
        border-top: 1px solid #7da06a;
        font-size: 12px;
        margin-top: 50px;
        padding: 0px;
        display: flex;
    }
  }