/* CSS Bruno */
.textBox {
    width: auto;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #9fb990;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 2%;
    margin-top: 15px;
}

#from {
    color: #92c792;
    text-decoration: underline;
}

#from:hover {
    color: #4a8321;
    text-decoration: none;
}

/* Desktop Styles */
@media only screen and (min-width: 1200px) {
    .textBox {
        width: auto;
        column-count: 3;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #9fb990;
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        padding: 15px;
        margin: 0px;
        margin-top: 15px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .textBox {
        width: auto;
        column-count: 2;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #9fb990;
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        margin-top: 15px;
    }

    .textBox>p {
        column-width: calc(100%/3);
    }
}